<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <link th:href="@{/css/detail.css}" rel="stylesheet">
</head>
<body>
<div th:fragment="footer">
    <footer>
        <div class ="footer-content">
            <h3>Films</h3>
            <ul class ="socials">
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin-squared"></i></a></li>

            </ul>
        </div>
        <div class="footer-bottom">
            <p>copyright &copy; 2023 FSOFT ACADEMY</p>
        </div>
    </footer>

</div>
</body>
</html>